<div class="cardMargin">
	 <div class="ui card">
		<div class="content">
			<h4>Ozone</h4>		
			<p class="description justifyParagraph">
			Ground level ozone occurs when sunlight reacts with nitrous oxide and volatile organic compounds. Industrial emissions, automobile exhaust, gasoline vapors, and chemical solvents are major sources of these substances.	
            Breathing ozone creates health problems including chest pain, coughing, and throat irritation. It worsens bronchitis, emphysema, and asthma. Repeated exposure may permanently scar lung tissue.
			</p>
			
			<h4>PM2.5</h4>		
			<p class="description justifyParagraph">
			<em>Particulate matter</em> is a mixture of extremely small particles and liquid droplets. Particles contain dust, metals, organic matter, and acids. Particles less than 10 micrometers in diameter can cause heart and lung problems. 
			<em>Inhalable coarse particles</em>, found in dust and industrial waste, are between 10 and 2.5 micrometers in diameter. 
			<em>Fine particles</em> (<strong>PM2.5</strong>), found in smoke and haze, are 2.5 micrometers, or less, in diameter.
			</p>
		
			<h4>Air Quality Index (AQI)</h4>
			<p class="description justifyParagraph">
				State and local environmental agencies publish air quality readings based on measurements taken by monitors located all over the United States. 
				The EPA publishes this information through a web service called <em>Air Now</em>, which is used by this application.
			</p>
			<p class="description justifyParagraph">
				Measurements are expressed in terms of numbers and color codes known as the <em>Air Quality Index</em>, described below:
			</p>
			
			<div class="ui one column padded middle aligned centered color grid">
				<div  class="green column padded middle aligned centered" >
					<div >Good</div>
					<div >0-50</div>
					<div >Air quality is considered satisfactory. Air pollution poses little or no risk.</div>
				</div>
				<div  class="yellow column padded middle aligned centered" >
					<div >Moderate</div>
					<div >51-100</div>
					<div >Air quality is acceptable. Moderate health concerns for people who are unusually sensitive to air pollution.</div>
				</div>
				<div  class="orange column padded middle aligned centered" >
					<div >Unhealthy for Sensitive Groups</div>
					<div >101-150</div>
					<div >Members of sensitive groups may experience health effects. The general public is not likely to be affected. Sensitive groups include active adults, people with heart or lung disease (including asthma), older adults and children.</div>
				</div>
				<div  class="red column padded middle aligned centered" >
					<div >Unhealthy</div>
					<div >151-200</div>
					<div >Everyone may begin to experience health effects. Members of sensitive groups may experience more serious health effects.</div>
				</div>
				<div  class="brown column padded middle aligned centered" >
					<div >Very Unhealthy</div>
					<div >201-300</div>
					<div >Health alert. Everyone may experience more serious health effects.</div>
				</div>
				<div  class="black column padded middle aligned centered" >
					<div >Hazardous</div>
					<div >301-500</div>
					<div >Emergency health warning conditions. The entire population is likely to be affected.</div>
				</div>
			</div>
		</div>
	</div>
</div>
