@import './app/vendor/semantic.min.css';

 .cardMargin {
	margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1.0em;
    margin-left: 1.0em;
  }
 
 .aqiBorder {
	border-radius: 0.5em;
	margin-bottom: 0.1em;
  }
  
 .maroon{
	background-color:#7e0023!important;
	color:#FFF
 }
  
 .aqiNumber{
	font-size:xx-large;
	margin-right:0.25em;
 }
 .aqiTitle{
	font-size:large;
 }
  .aqiDescription{
	font-size:small;
	font-style: italic;
 }